.App {
  text-align: center;
  height: 100%;
}

.top-container {
  margin: 2rem;
}

.clickable {
  cursor:pointer;
}

.dot-app {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dot-app.red {
  background-color: #ff0000;
}

.dot-app.green {
  background-color: #73ff00;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.carousel-indicators button{
  background-color: #0d6efd!important;
}